---
http_interactions:
- request:
    method: get
    uri: http://bloombergquint.staging.quintype.io/api/v1/entities/45667/32728
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"relationships":{"self":[{"category":"NULL","stock-industry":{"id":41454,"name":"Miscellaneous"},"entity-type":"stock","name":"Sanghvi
        Brands Ltd.","nse-code":"NULL","rank":1,"relationship":"self","stock-exchange":{"id":32728,"name":"BSE"},"deleted-at":null,"created-by":88299,"id":45667,"isin":"INE204Y01010","last-updated-by":88299,"aliases":"","stock-id":"1002880","created-at":1512544059081,"stock-info-provider":{"id":32730,"name":"MarketsMojo"},"bse-code":"540782"}]}}'
  recorded_at: Fri, 08 Dec 2017 06:53:47 GMT
recorded_with: VCR 3.0.3
