---
http_interactions:
- request:
    method: get
    uri: http://bloombergquint.staging.quintype.io/api/v1/entities
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"entities":[{"updated-at":1512544059081,"category":"NULL","stock-industry":{"id":41454,"name":"Miscellaneous"},"publisher-id":26,"name":"Sanghvi
        Brands Ltd.","nse-code":"NULL","type":"stock","stock-exchange":{"id":32728,"name":"BSE"},"entity-type-id":32,"deleted-at":null,"created-by":88299,"id":45667,"isin":"INE204Y01010","last-updated-by":88299,"aliases":"","stock-id":"1002880","created-at":1512544059081,"stock-info-provider":{"id":32730,"name":"MarketsMojo"},"bse-code":"540782"},{"updated-at":1512544059055,"category":"NULL","stock-industry":{"id":41537,"name":"Finance
        - Stock Broking"},"publisher-id":26,"name":"5Paisa Capital Ltd.","nse-code":"5PAISA","type":"stock","stock-exchange":{"id":32728,"name":"BSE"},"entity-type-id":32,"deleted-at":null,"created-by":88299,"id":45666,"isin":"INE618L01018","last-updated-by":88299,"aliases":"","stock-id":"1002879","created-at":1512544059055,"stock-info-provider":{"id":32730,"name":"MarketsMojo"},"bse-code":"54077[...]
